.container{
    height: 1000px;
    width: 1000px;
    background-color: white;
}

#carroceria{
    width: 290px;
    height: 70px;
    border: 1px;
    background-color: #003c90;
    margin-top: 150px;
    margin-left: 100px;
    border-radius: 25%;
}

#trapezio{
    height: 0;
	width: 110px;
	border-bottom: 40px solid #000000;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
    display: flex;
    margin: auto;
    margin-left: 130px;
    margin-top: -98px;
    border-radius: 60%;
}

#roda1{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: aliceblue;
    border: 10px double black;
    margin-left: 120px;
    margin-top: 16px;
}

#roda2{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: aliceblue;
    border: 10px double black;
    margin-left: 290px;
    margin-top: -54px;
}

#janela{
    height: 0;
	width: 90px;
	border-bottom: 30px solid #ffffff;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
    display: flex;
    margin: auto;
    margin-left: 150px;
    margin-top: -103px;
    border-radius: 60%;
}

#divisao{
    height: 32px;
    width: 4px;
    background-color: black;
    margin-left: 222px;
    margin-top: -31px;
}

#farol{
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 12% 88% 52% 49% / 20% 29% 64% 81%;
    margin-left: 365px;
    /* margin-top: 12px; */
}

#macaneta{
    width: 18px;
    height: 5px;
    background-color: black;
    margin-left: 233px;
    margin-top: -4px;
    border-radius: 10px;
}