body {
    background-color: #fbeac892;
}



.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 600px;
    height: 360px;
    border-left: 3px solid #000000;
    border-bottom: 3px solid #000000;
    margin-left: 532px;
    margin-top: 30px;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    margin-top: 100px;
    margin-left: 535px;
}

.barra1 {
    width: 50px;
    background-color: #47008da9;
    margin-bottom: 0px;
    transition: height 0.5s ease;
    height: 340px;
}

.barra2 {
    width: 50px;
    background-color: #47008da9;
    margin-bottom: 0px;
    transition: height 0.5s ease;
    height: 240px;
}

.barra3 {
    width: 50px;
    background-color: #47008da9;
    margin-bottom: 0px;
    transition: height 0.5s ease;
    height: 310px;
}

.barra4 {
    width: 50px;
    background-color: #47008da9;
    margin-bottom: 0px;
    transition: height 0.5s ease;
    height: 260px;
}

.barra5 {
    width: 50px;
    background-color: #47008da9;
    margin-bottom: 0px;
    transition: height 0.5s ease;
    height: 130px;
}

.barra6 {
    width: 50px;
    background-color: #47008da9;
    margin-bottom: 0px;
    transition: height 0.5s ease;
    height: 230px;
}

.barra1:hover {
    background-color: #7000dfa9;
}

.barra2:hover {
    background-color: #7000dfa9;
}

.barra3:hover {
    background-color: #7000dfa9;
}

.barra4:hover {
    background-color: #7000dfa9;
}

.barra5:hover {
    background-color: #7000dfa9;
}

.barra6:hover {
    background-color: #7000dfa9;
}


.escrita1 {
    text-align: center;
    font-size: 14px;
    margin-top: 0px;
    margin-right: 735px;
}

.escrita2 {
    text-align: center;
    font-size: 14px;
    margin-top: -16px;
    margin-right: 536px;
}

.escrita3 {
    text-align: center;
    font-size: 14px;
    margin-top: -16px;
    margin-right: 334px;
}

.escrita4 {
    text-align: center;
    font-size: 14px;
    margin-top: -16px;
    margin-right: 135px;
}

.escrita5 {
    text-align: center;
    font-size: 14px;
    margin-top: -16px;
    margin-right: -66px;
}

.escrita6 {
    text-align: center;
    font-size: 14px;
    margin-top: -16px;
    margin-right: -265px;
}

.numero0 {
    text-align: center;
    font-size: 14px;
    margin-top: -27px;
    margin-right: 880px;
}

.numero1 {
    text-align: center;
    font-size: 14px;
    margin-top: -50px;
    margin-right: 880px;
}

.numero2 {
    text-align: center;
    font-size: 14px;
    margin-top: -51px;
    margin-right: 880px;
}

.numero3 {
    text-align: center;
    font-size: 14px;
    margin-top: -53px;
    margin-right: 880px;
}

.numero4 {
    text-align: center;
    font-size: 14px;
    margin-top: -53px;
    margin-right: 880px;
}

.numero5 {
    text-align: center;
    font-size: 14px;
    margin-top: -53px;
    margin-right: 880px;
}

.numero6 {
    text-align: center;
    font-size: 14px;
    margin-top: -52px;
    margin-right: 880px;
}

.numero7 {
    text-align: center;
    font-size: 14px;
    margin-top: -52px;
    margin-right: 880px;
}

.numero8 {
    text-align: center;
    font-size: 14px;
    margin-top: -53px;
    margin-right: 880px;
}

.numero9 {
    text-align: center;
    font-size: 14px;
    margin-top: -52px;
    margin-right: 880px;
}

.numero10 {
    text-align: center;
    font-size: 14px;
    margin-top: -50px;
    margin-right: 880px;
}